/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f4f3f3;
}

.screen-container{
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.stroke-button{
    color: #e60707;
    background-color: white;
}

.flat-button{
    background-color: #e60707;
    color: white;
}